/*CSS Reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body{
    background-color: #d0d08a;    
    height: 100%;
    line-height: 1;
}
 html {
    height: 100%;
}

.parallax { 
    /* The image used */
    background-image: url("img/woodpaint.jpg");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#wrapper {
    margin-top: 100px;
}


.footer {
    margin-top:50px;
}




img {
	margin:auto;
	
}

#contactDiv {
    margin-top: 150px;
    font-family: 'Permanent Marker', cursive;
}

/*Newsletter sign up in contact*/
#newsletter {
    font-family: 'Permanent Marker', cursive;
}

/*NavBar colors*/
.navbar-default {
  background-color: #774d22;
  border-color: #774d22;
}
.navbar-default .navbar-brand {
  color: #ffffff;
  font-family:'Pacifico', cursive;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #d0d08a;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #d0d08a;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #d0d08a;
  background-color: #774d22;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #d0d08a;
  background-color: #774d22;
}
.navbar-default .navbar-toggle {
  border-color: #774d22;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #774d22;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #d0d08a;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #d0d08a;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #d0d08a;
    background-color: #774d22;
  }
}


#commentSubmit {
    margin-top: 25px;
   
}

#flyer{
    margin-top: 100px;
    margin-bottom: 100px;
}

/*Modal and Thumbnails*/
.modal-dialog {
    width:600px;
    
}
.thumbnail {
    margin-bottom:6px;
    
}

#gallery {
    margin-top: -25px;
    font-family:'Pacifico', cursive;
    color: #fff;
}

#aboutText {
    font-family: 'Open Sans Condensed', sans-serif;    
}

#promiseText {
    
    margin-top: 150px;
}

