body{
    background-color: #d0d08a;
    
}

#logo, #navbarItems, #navi {
	background-color: #774d22;
	font-family:'Pacifico', cursive;
	 
}

img {
	margin:auto;
	
}

#contactDiv {
    margin-top: 70px;
    font-family: 'Permanent Marker', cursive;
}



#commentSubmit {
    margin-top: 25px;
   
}

#flyer {
    margin-top: 200px;
    margin-bottom: 200px;
}


