body{
    background-color: #d0d08a;
    
}

#wrapper {
    margin-top: 100px;
}

#logo, #navi {
	background-color: #774d22;
	font-family:'Pacifico', cursive;
	color: white; 
}

img {
	margin:auto;
	
}

#contactDiv {
    margin-top: 70px;
    font-family: 'Permanent Marker', cursive;;
}

#commentSubmit {
    margin-top: 25px;
}

#flyer{
    margin-top: 100px;
    margin-bottom: 200px;
}


/*HR style*/
hr { 
color: #000;
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}
